// this is where we will set all the color variables

$color-white: #ffffff;
$color-gray: #cccccc;
$color-body:#f0f8ff;
$color-light-blue: #03a9f4;
$color-header-background: #807ff1;
$color-header-border: #229fe7ad;
$color-header-shadow: #8adad6;