// This is where we will set all of our app css variables


$header-height: 48px;

// distances

$distance-1: 1px;
$distance-2: 2px;
$distance-3: 3px;
$distance-4: 4px;
$distance-5: 5px;
$distance-6: 6px;
$distance-7: 7px;
$distance-8: 8px;
$distance-9: 9px;
$distance-10: 10px;
$distance-12: 12px;
$distance-15: 15px;
$distance-25: 25px;
$distance-32: 32px;
$distance-48: 48px;
