@import 'variables/layout';
@import 'variables/colors';

.footer-wrapper {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    height: $header-height;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;

    footer {
        a {
            display: inline-block;
            padding-left: $distance-15;
            padding-right: $distance-15;
            color: $color-header-border;
            opacity: 0.85;
            text-decoration: none;
        }
    }
}
